.signUp {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
  text-align: left;
  font-size: 72px;
  color: #f5f5f5;
  font-family: Montserrat;
}
.leftSide {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #48a57f;
  width: 602px;
  height: 1024px;
}
.timeflow {
  position: absolute;
  top: 468px;
  left: 116px;
}
